{% extends 'base.html' %}


{% block header %}Add gift{% endblock %}

{% block content %}
<form action="" method="post" class="ui form">
    {% csrf_token %}
    <div class="field">
        {% if form.description.errors %}
        <div class="ui negative message">
            {{ form.description.errors }}
        </div>
        {% endif %}
        <label for="{{ form.description.id_for_label }}">Description:</label>
        {{ form.description }}
    </div>
    <div class="field">
        {% if form.price.errors %}
        <div class="ui negative message">
            {{ form.price.errors }}
        </div>
        {% endif %}
        <label for="{{ form.price.id_for_label }}">Price:</label>
        {{ form.price }}
    </div>
    <input class="ui button primary" type="submit" value="Create"/>
</form>
{% endblock %}