<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>

    <title>Gifts manager</title>
</head>

<body>
    <div class="ui container">
        <div class="ui grid">
            <div class="row">
                <div class="column">
                    <h1>{% block header %}{% endblock %}</h1>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <a class="ui button primary" style="margin-top:10px;" href="javascript:history.go(-1);">Back</a>
    </div>
    <script>
        $(function () {
            $('.gifts-progress').progress();
        })
    </script> {% block javascripts %} {% endblock %}
</body>

</html>
